<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{event.EventName}}">
  <ion-content class="padding">
      <center><h1>{{event.EventName}}</h1></center>
      <br/>
      <div ng-if="event.image==1">
          
          <img src="{{api_url}}?request=image&item=event&id={{event.EventID}}"  style="display: run-in; width: 100%">
      </div>
      Its On {{event.StartDate}}<br />
      Till {{event.EndDate}}
      <br />
    <p class="disc">{{event.Description}}</p>
  </ion-content>
</ion-view>

<div ng-if="error" class="loading-news" ng-class="{ 'clear': error}">
      {{error_message}}
    </div>
