<ion-view view-title="Happy Club">
  <ion-content>

  </ion-content>
          <div style="background-color: green; height: 100%">
              <style>
                 .center{
               position:absolute;
                 top:50%;
                 left:50%;
                 margin-top:-25px;
                 margin-left:-25px;                      
                  }
              </style>
              <div class="center">
                   <img src="img/ionic.png" alt="foo" />
                   <br/>
                   &nbsp;&nbsp;All Rights Reserved
              </div>
      </div>
</ion-view>
        